# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
###### Markdown Basics

* **point 1** (bold)
* *point 2* (italic)
* ***point 3*** (bold and italic)


* Normal Text
> 1. Point 1
> 2. Point 2



*  Google Site -- [1]: http://www.google.com
*  MSN Site -- [2]: http://www.msn.com


* Google -- [Google][1]
[1]: http://www.google.com

### Python Basics
* Python version 3.7

-Functional Programming

-Object oriented Programming

-Scripting Programming

In [4]:
print("Hello, Gitam")

Hello, Gitam

In [5]:
print("Hello, Gitam")
print("Hyderabad")

Hello, Gitam
Hyderabad

In [15]:
print("Hello, Gitam", "|||", end=" ")
print("Hello,Gitam", end=" ||| ")
print("Python Programming")

Hello, Gitam ||| Hello,Gitam ||| Python Programming

In [23]:
n1=100 #Single assignment
a=b=c=20 #Multi Varible assignment of same value
a1,b1,c1= 111,222,333 #Multi Varible assignment of different value
 
print(n1)

print(a,b,c)

print(a1,b1,c1)

100
20 20 20
111 222 333

Data Types And Conversions
* int
* string --> str()
* float  --> float()

In [21]:
a=100
s1= 'Python'
s2= 'P'
f1= 10.1
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 Python P 10.1
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [27]:
i=100
print(type(i))
s1=str(i) #converts the input into string type
print(type(s1))
f1=float(i) #converts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [33]:
s1='100'
print(type(s1))
a=int(s1)
print(type(a))
f1=1.5
a1=int(f1)
print(type(a1))

<class 'str'>
<class 'int'>
<class 'int'>

In [35]:
# A number is given 1234-
# Digit Count
a= 1234
print(len(str(a)))

4

# Reading the value- Input Function

* input("Message") --string

In [1]:
s1=input("Enter your name")
print(s1)
print(type(s1))

Enter your nameRohith
Rohith
<class 'str'>

In [3]:
n1=int(input("Enter a number\n"))
print(n1,type(n1))

Enter a number
8798
8798 <class 'int'>

## Operators
* Operator is a symbol is used to perform a specific kind of operation

### Arithematic Operators
* +
* -
* *
* /
* %  --> remainder
* // --> Floor Division(//) Divides and returns the integer value of the quotient. It dumps the digits after the decimal.
* ** -->  Exponentiation(**) Raises the first number to the power of the second.

In [5]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1**10)
print(n1//10)

1244
1224
12340
123.4
4
8187505353567209228244052427776
123

# Precedence of arith operators
* Paranthesis
* Power
* Multiplication
* Addition 

## Left to Right

In [7]:
x= 1+2**3/4+5
print(x)

8.0

In [8]:
x=1+2**3/4*5
print(x)

11.0

# Relational Operators
-> == (Equal to)

-> != (Not Equal to)

-> Greater (>)

-> Smaller (<)

-> Greater than or equal to (>=)

-> Lesser than or equal to (<=)

# Logical Operators

-> Used to combine more than single condition
* and (Both the condition are correct)
* or
* not

In [10]:
i=100
a1=(i>15)and(i<800)
a2=(i>15)and(i>800)
print(a1)
print(a2)

True
False

### Control Flow Statements

* Conditional statements

* Looping Statements

### Syntax

if Boolean_Condition: 

Statements

else

statements

In [14]:
# To check the given number is even or odd
n=int(input("Enter the number\n"))
if n%2==0:
    print("Even")
else:
    print("Odd")

Enter the number
76786809
Odd

In [16]:
# To check the number is perfectly multiple of 3 and 5
n=int(input("Enter the number"))
if n%3==0 and n%5==0:
    print("Yes")
else:
    print("No")

Enter the number15
Yes

In [21]:
# Check if the given number is positive, nugative or zero
n=int(input("Enter the number"))
if n==0:
    print("Zero")
elif n>0:
    print("Positive")
else:
    print("Negative")

Enter the number0
Zero